footer {
  padding: 10px;
  padding-top: 30px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer.dark {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: #fff;
}
footer.light {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: #000;
}
