#login {
  padding: 3rem;
}

#login.light {
  color: #000;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-top: 2px solid rgba(51, 51, 51, 0.5);
  border-bottom: 2px solid rgba(51, 51, 51, 0.5);
}

#login.dark {
  color: #fff;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

label {
  cursor: pointer;
  margin-bottom: 1rem;
}

.dark label {
  font-weight: bold;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.dark .input {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  box-shadow: 1px 1px 10px #333;
}

.light .input {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  box-shadow: 1px 1px 10px #333;
}

.login-button {
  margin-left: 15px;
  margin-top: 7px;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px #333;
}

.light .login-button {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.dark .login-button {
  color: #fff;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  font-weight: bold;
}
